---
title: "3D Scene Perception, Embeddings and  <br /> Neural Rendering"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.7"
excerpt: ""
intro: 
  - excerpt: '3D Scene Perception, Embccceddings and Neural Rendering is a WASP funded NEST (Novelty, Excellence, Synergy, Teams) project, a collaborative project that involves research groups from Chalmers University of Technology, Lund University, and KTH Royal Institute of Technology.'
    image_path: /assets/images/wasp-logo-grey.png
feature_row2:
  - image_path: /assets/images/nest.png
    alt: "placeholder image 2"
    title: "Our Research"
    excerpt: 'Learn more about our research and our project proposal.'
    url: "/about"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/2022-10-10-group.jpeg
    alt: "placeholder image 2"
    title: "People of Neural3D"
    excerpt: 'Learn more about the people behind Neural3D.'
    url: "/people"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/wasp-logo-grey.png
    alt: "placeholder image 2"
    title: "WASP"
    excerpt: 'Learn more about the Wallenberg AI, Autonomous Systems and Software Program.'
    url: "https://wasp-sweden.org"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="left" %}

{% include feature_row id="feature_row4" type="left" %}
